<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Rating Interface</title>
</head>
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">EXPO</a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/reservation">Stand</a></li>
              <li class="nav-item"><a class="nav-link" href="/events">Event</a></li>
              <li class="nav-item"><a class="nav-link" href="/userspace">Calendar</a></li>
              <li class="nav-item" ngbDropdown placement="bottom-end">
                <a
                  ngbDropdownToggle
                  class="nav-link waves-effect waves-dark pro-pic"
                  href="javascript:void(0)"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img
                    src="assets/images/users/user1.jpg"
                    alt="user"
                    class="rounded-circle"
                    width="31"
                  />
                  <span class="ms-2">{{user.nom}} {{user.prenom}}</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0)"> My Profile</a>
                  <a class="dropdown-item" href="javascript:void(0)"> My Balance</a>
                  <a class="dropdown-item" href="javascript:void(0)"> Inbox</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)"> Account Setting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)"  (click)="logout()"> Logout</a>
                </div>
        
              </li>
              
              
          </ul>
      </div>
  </nav>
  </div>
</header>
<body>
 
  <main>
    
    <div class="event-container">
      <div class="event-image"  *ngIf="event">
        <img [src]="event.affiche" alt="Tech Expo">
      </div>
      <div class="event-details">
        <h1>{{event.nom}}</h1>
        <div class="rating">
          <span>RATE THE EVENT</span>
          <div class="rate">
            <fieldset class="rating blue">
             <input type="radio" id="star6" name="rating" [(ngModel)]="rating" value="5" />
             <label class="full1" for="star6"></label>
             <input type="radio" id="star7" name="rating" [(ngModel)]="rating" value="4" />
             <label class="full1" for="star7"></label>
             <input type="radio" id="star8" name="rating" [(ngModel)]="rating" value="3" />
             <label class="full1" for="star8"></label>
             <input type="radio" id="star9" name="rating"[(ngModel)]="rating" value="2" />
             <label class="full1" for="star9"></label>
             <input type="radio" id="star10" name="rating" [(ngModel)]="rating" value="1" />
             <label class="full1" for="star10"></label>
            </fieldset></div>
        </div>
        <div class="review">
          <label for="review" >WRITE YOUR REVIEW:</label>
          <textarea id="review" [(ngModel)]="review" name="review" rows="5"></textarea>
          <button class="send-btn" (click)="submitReview()">Send</button>
        </div>
      </div>
    </div>
  </main>
</body>
<footer><app-footer></app-footer></footer>
</html>
