
    



/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 75px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

   .navbar{
      margin-left: 0px; /* Adjust according to the sidebar width */
      padding: 0px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  
  }
  


  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin-left: 200px; /* Adjust according to the sidebar width */
    padding: 100px;
}

.reservation-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reservation-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px 0;
}

.reservation-table thead {
    background-color: #343a40;
    color: #fff;
}

.reservation-table th, .reservation-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.reservation-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.reservation-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reservation-table tbody tr:hover {
    background-color: #f1f1f1;
}

