<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <a class="navbar-brand" href="#">
            <img

            src="assets/images/2.png"
              height="70"
              alt="EXPO"
              loading="lazy"
            />
          </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Map</a>
              </li>



              <li class="nav-item d-none d-md-block" ngbDropdown placement="bottom-end">
                <a
                  ngbDropdownToggle
                  class="nav-link waves-effect waves-dark"
                  href="javascript:void(0)"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Discover</span>
                </a>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
          </ul>




      </div>

          <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item dropdown">
              <a
                class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-bell"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="#">Some news</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Another news</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link me-3 me-lg-0" href="#">
                <i class="fas fa-fill-drip"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#">
                <i class="fab fa-github"></i>
              </a>
            </li>



            <li class="nav-item" ngbDropdown placement="bottom-end">
              <a
                ngbDropdownToggle
                class="nav-link waves-effect waves-dark pro-pic"
                href="javascript:void(0)"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  src="assets/images/users/user1.jpg"
                  alt="user"
                  class="rounded-circle"
                  width="31"
                />
                <span class="ms-2">{{user.nom}} {{user.prenom}}</span>
              </a>
              <div class="dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0)"> My Profile</a>
                <a class="dropdown-item" href="javascript:void(0)"> My Balance</a>
                <a class="dropdown-item" href="javascript:void(0)"> Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"> Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"> Logout</a>
              </div>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="sidebar">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">



              <a href="/notification" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="bi bi-bell-fill me-3"></i><span>Notifications</span></a
              >
              <a href="/type" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="bi bi-ticket-fill me-3 "></i><span>Event Types</span></a
              >
              <a href="/userspace" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-calendar fa-fw me-3"></i><span>Bookings</span></a
              >
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-users fa-fw me-3"></i><span>Exhibitors</span></a
              >
              <a href="/chat" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="bi bi-chat-fill me-3"></i><span>Chat</span></a
          >


            </div>
          </div>
        </nav>
        </div>




<body>





    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div class="top">
                    <input type="text" placeholder="Search" />
                    <a href="javascript:;" class="search"></a>
                </div>
                <ul class="people">
                    <li class="person" data-chat="person1">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
                        <span class="name">Thomas Bangalter</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">I was wondering...</span>
                    </li>
                    <li class="person" data-chat="person2">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png" alt="" />
                        <span class="name">Dog Woofson</span>
                        <span class="time">1:44 PM</span>
                        <span class="preview">I've forgotten how it felt before</span>
                    </li>
                    <li class="person" data-chat="person3">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/louis-ck.jpeg" alt="" />
                        <span class="name">Louis CK</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">But we’re probably gonna need a new carpet.</span>
                    </li>
                    <li class="person" data-chat="person4">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/bo-jackson.jpg" alt="" />
                        <span class="name">Bo Jackson</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">It’s not that bad...</span>
                    </li>
                    <li class="person" data-chat="person5">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/michael-jordan.jpg" alt="" />
                        <span class="name">Michael Jordan</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">Wasup for the third time like is
    you blind bitch</span>
                    </li>
                    <li class="person" data-chat="person6">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/drake.jpg" alt="" />
                        <span class="name">Drake</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">howdoyoudoaspace</span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
                <div class="chat" data-chat="person1">
                    <div class="conversation-start">
                        <span>Today, 6:48 AM</span>
                    </div>
                    <div class="bubble you">
                        Hello,
                    </div>
                    <div class="bubble you">
                        it's me.
                    </div>
                    <div class="bubble you">
                        I was wondering...
                    </div>
                </div>
                <div class="chat" data-chat="person2">
                    <div class="conversation-start">
                        <span>Today, 5:38 PM</span>
                    </div>
                    <div class="bubble you">
                        Hello, can you hear me?
                    </div>
                    <div class="bubble you">
                        I'm in California dreaming
                    </div>
                    <div class="bubble me">
                        ... about who we used to be.
                    </div>
                    <div class="bubble me">
                        Are you serious?
                    </div>
                    <div class="bubble you">
                        When we were younger and free...
                    </div>
                    <div class="bubble you">
                        I've forgotten how it felt before
                    </div>
                </div>
                <div class="chat" data-chat="person3">
                    <div class="conversation-start">
                        <span>Today, 3:38 AM</span>
                    </div>
                    <div class="bubble you">
                        Hey human!
                    </div>
                    <div class="bubble you">
                        Umm... Someone took a shit in the hallway.
                    </div>
                    <div class="bubble me">
                        ... what.
                    </div>
                    <div class="bubble me">
                        Are you serious?
                    </div>
                    <div class="bubble you">
                        I mean...
                    </div>
                    <div class="bubble you">
                        It’s not that bad...
                    </div>
                    <div class="bubble you">
                        But we’re probably gonna need a new carpet.
                    </div>
                </div>
                <div class="chat" data-chat="person4">
                    <div class="conversation-start">
                        <span>Yesterday, 4:20 PM</span>
                    </div>
                    <div class="bubble me">
                        Hey human!
                    </div>
                    <div class="bubble me">
                        Umm... Someone took a shit in the hallway.
                    </div>
                    <div class="bubble you">
                        ... what.
                    </div>
                    <div class="bubble you">
                        Are you serious?
                    </div>
                    <div class="bubble me">
                        I mean...
                    </div>
                    <div class="bubble me">
                        It’s not that bad...
                    </div>
                </div>
                <div class="chat" data-chat="person5">
                    <div class="conversation-start">
                        <span>Today, 6:28 AM</span>
                    </div>
                    <div class="bubble you">
                        Wasup
                    </div>
                    <div class="bubble you">
                        Wasup
                    </div>
                    <div class="bubble you">
                        Wasup for the third time like is <br />you blind bitch
                    </div>

                </div>
                <div class="chat" data-chat="person6">
                    <div class="conversation-start">
                        <span>Monday, 1:27 PM</span>
                    </div>
                    <div class="bubble you">
                        So, how's your new phone?
                    </div>
                    <div class="bubble you">
                        You finally have a smartphone :D
                    </div>
                    <div class="bubble me">
                        Drake?
                    </div>
                    <div class="bubble me">
                        Why aren't you answering?
                    </div>
                    <div class="bubble you">
                        howdoyoudoaspace
                    </div>
                </div>
                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input type="text" />
                    <a href="javascript:;" class="write-link smiley"></a>
                    <a href="javascript:;" class="write-link send"></a>
                </div>
            </div>
        </div>
    </div>
    <script>document.querySelector('.chat[data-chat=person2]').classList.add('active-chat')
        document.querySelector('.person[data-chat=person2]').classList.add('active')

        let friends = {
            list: document.querySelector('ul.people'),
            all: document.querySelectorAll('.left .person'),
            name: ''
          },
          chat = {
            container: document.querySelector('.container .right'),
            current: null,
            person: null,
            name: document.querySelector('.container .right .top .name')
          }

        friends.all.forEach(f => {
          f.addEventListener('mousedown', () => {
            f.classList.contains('active') || setAciveChat(f)
          })
        });

        function setAciveChat(f) {
          friends.list.querySelector('.active').classList.remove('active')
          f.classList.add('active')
          chat.current = chat.container.querySelector('.active-chat')
          chat.person = f.getAttribute('data-chat')
          chat.current.classList.remove('active-chat')
          chat.container.querySelector('[data-chat="' + chat.person + '"]').classList.add('active-chat')
          friends.name = f.querySelector('.name').innerText
          chat.name.innerHTML = friends.name
        }</script>
</body>



 <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>


  