
<body>
    <section class="vh-100">
        <div class="container py-5">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <form (ngSubmit)="PostData()">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Addresse Email</label><br>
                  <p class="text-danger pl-1" *ngIf="errors.email">{{errors.email}}</p>

                </div>
                <!-- Name input -->
                
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="MotDePasse" [(ngModel)]="MotDePasse" name="MotDePasse"  class="form-control form-control-lg" />
                  <label class="form-label" for="MotDePasse">Mot De Passe</label><br>
                  <p class="text-danger pl-1" *ngIf="errors.MotDePasse">{{errors.MotDePasse}}</p>


                </div>
      
               
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Sign IN</button>
      
               
      
              </form>
            </div>
          </div>
        </div>
      </section>
    </body>
      