<header>


</header>

<body>
  <div class="reservation-container">
    <table class="reservation-table">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Event ID</th>
          <th>Stand ID</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.user_id }}</td>
          <td>{{ reservation.event_id }}</td>
          <td>{{ reservation.stand_id }}</td>
          <td>{{ reservation.status }}</td>
          <td>
            <button class="bi bi-check-circle custom-button" (click)="updateStatus(reservation.id, 'approved')"></button>
            <button class="bi bi-trash custom-button" (click)="updateStatus(reservation.id, 'rejected')"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
