<body>

<section class="vh-100">
    <div class="container py-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form (ngSubmit)="PostData()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control form-control-lg" />
              <label class="form-label" for="email">Addresse Email</label><br>
              <p class="text-danger pl-1" *ngIf="errors.email">{{errors.email}}</p>

            </div>

            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="nom" [(ngModel)]="nom" name="nom" class="form-control form-control-lg" />
              <label class="form-label" for="nom">Nom</label><br>
              <p class="text-danger pl-1" *ngIf="errors">{{errors}}</p>

            </div>
            <!-- Last name input -->
            <div class="form-outline mb-4">
              <input type="text" id="prenom" [(ngModel)]="prenom" name="prenom" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example15">Prenom</label><br>
              <p class="text-danger pl-1" *ngIf="errors.prenom">{{errors.prenom}}</p>
            </div>
            <!-- Phone input -->
            <div class="form-outline mb-4">
              <input type="text" id="telephone" [(ngModel)]="telephone" name="telephone" class="form-control form-control-lg" />
              <label class="form-label" for="telephone">Telephone</label><br>
              <p class="text-danger pl-1" *ngIf="errors.telephone">{{errors.telephone}}</p>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="MotDePasse" [(ngModel)]="MotDepasse" name="MotDePasse" class="form-control form-control-lg" />
              <label class="form-label" for="MotDepasse">Mot De Passe</label><br>
              <p class="text-danger pl-1" *ngIf="errors.MotDePasse">{{errors.MotDePasse}}</p>
            </div>
           

  
            
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Sign in</button>
  
  
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
  